VITE_GOOGLE_MAPS_API_KEY=
GEMINI_API_KEY=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
TALKSASA_API_TOKEN=
TALKSASA_API_ENDPOINT=https://bulksms.talksasa.com/api/v3/
TALKSASA_SENDER_ID=
